
body{
	font-family : 'malgun Gothic', 'Verdana';
	background-color: #ff80c0;
	color: #400080;
	margin: 0; /* 밖 간격 */
	padding: 0; /* 안 간격 */
		
}
h1,h2,h3,h4,h5,h6{
	font-size:  1.5em;
}
h1{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}

div#wrapper{
	width: 90%;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: outo;
	margin-right: outo;
}

div#header{
	position : relative;
	margin-bottom: 0;
	padding: 0;
	color: #000;
}

div#title{
	float: left;
	text-align: left;
	display : block;
	
}
div#login-box{
	float: right;
	margin: 10px 20px; 
	font-size: 1.1em;
	display: block;
	color: #fff;
}
div#login-box a:hover{ /* 지나가면 효과를줌 */
	color: #fff;
	text-decoration: none; 
	
}
div#login-box a:active{ /* 실행되면 효과를줌 */
	color: #ff0000;
	text-decoration: none; 
	
}

div#header h1{
	color: #fff;
	padding: : 5px 0;
	margin: 0;
	border: none;
	line-height: 2em;
	font-weight: bold;
	font-size: 32px; /* px로 하면 모바일, 웹 동일 */
}

div#content{
	padding: 15px 30px 15px 30px; /* 12시 3시 6시 9시 */
	background-color: #fff;
	margin-bottom: 30px;
	min-height: 400px;
	}
	
div#content-box{
	clear: both;
	margin-top: 40px;
}
div#menu-box{
	clear: both;
	margin-top: 40px;
	}

ul#menu{
	text-align: right;
	margin: 0;
	border-bottom: 1px #008080;
	position: relative;
	
	}
ul#menu li{
	display: inline;
	list-style: none;
	background-color: #ffffff;
	
	
}
ul#menu li a{
	padding: 10px 20px;
	background-color: #8000ff;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
	
}
ul#menu li a:hover{
	padding: 10px 20px;
	background-color: #ff00ff;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
	
}
ul#menu li a:active{
	background-color: #ffff00;
	text-decoration: none;
	
}
div#footer{
	clear: both;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	line-height: normal;
	font-size: 1.5em;
}










